<div>
  <div>
    <h1>Budget</h1>
    <p>Welcome to Budget, a simple budgeting app.</p>
  </div>
  <div>
    <p>
      <%= link_to "Sign in", new_user_session_path, class:"btn btn-primary" %>
      <%= link_to "Sign up", new_user_registration_path, class:"btn btn-ligth" %>
    </p>
  </div>
</div>